* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #EBEBEB;
	font-family: Arial;
}

#wrapper {
	width: 1200px;
	margin: 0 auto;
}

/* ---------- Dropdown Menus ---------- */

.dropdown {
	position: relative;
    display: inline-block;
}

.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 10px;
	font-size: 13px;
	border: none;
	cursor: pointer;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
}

.dropdown-content ul {
	list-style: none;	
}

.dropdown-content ul li {
	padding: 5px 0;
}

.dropdown-content ul li a {
	text-decoration: none;
}

.dropdown-content ul li a:visited{
	color: inherit;
}

.dropdown-content ul li:hover{
	color: orange;
	font-weight: 600;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}


/* ---------- Account header ---------- */

#account-header {
	background-color: white;
	padding: 6px 0;
	box-shadow: 0px 5px 2px #CFCFCF;
	font-size: 12px;
}

#account-header div {
	width: 1200px;
	margin: 0 auto;
}

#account-header a {
	text-decoration: none;
}

#account-header a:hover {
	text-decoration: underline;
}

#account-header a:visited {
	color: blue;
}

#account-header .logout {
	float: right;
}

/* ---------- Search header ---------- */

#navbar {
	border-bottom: 1px solid #CDCDCD;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 100%;
	height: 115px;
}

.nav-col-1 span {
	float: right;
	margin-left: 30px;
}

#navbar form {
	float: right;	
}

#search-bar {
	font-size: 25px;
	border-radius: 15px;
}

.nav-col-2 span {
	position: relative;
	top: 10px;
	font-size: 22px;
}

/* ---------- Account Creation ---------- */
#login-register-page {
	text-align: center;
	margin: 20px 0;
}

#login-register-page #box {
	background-color: white;
	border-radius: 5px;
	margin: 20px auto;
	border: 1px solid #CDCDCD;
	padding: 5px;
	width: 400px;
}

#login-register-page h2 {
	margin-bottom: 5px;
	font-weight: normal;
}

#login-register-page input[type=text], #login-register-page input[type=password] {
	border: 1px solid #ADADAD;
	border-radius: 5px;
	height: 35px;
	margin: 10px 0px;
	padding: 0 0 0 5px;
	width: 100%;
}

.field-with-errors {
	border: 1px solid red !important;
}

#login-register-page .first-name-input {
	float: left;
	width: 49%;
}

#login-register-page .last-name-input {
	width: 49%;
	float: right;
}

#login-register-page input[type=submit] {
	font-weight: bold;
	padding:10px 15px; 
    background: -webkit-gradient(linear,left top,left bottom,from(#1079bc),to(#00509d));
    color: white;
    border:0 none;
    cursor:pointer;
    border-radius: 5px; 
    margin: 20px 0 5px 0;
}

.field-error-message {
	color: red;
	list-style: none;
	text-align: left;
	font-size: 11px;
	margin: -5px 0 5px 5px;
}

/* ---------- Footer ---------- */
#footer {
	background-color: white;
	border-top: 1px solid gray;
	box-shadow: 0px 500px 0px 500px white;
	margin-top: 20px;
	padding-top: 20px;
}

#footer-container {
	width: 1200px;
	margin: 0 auto;
}

.footer-column {
	display: inline-block;
	margin: 0 60px;
}

.footer-column h3 {
	font-size: 18px;
	font-weight: normal;
	margin: 0 0 6px 0;
}

.footer-column ul {
	list-style: none;
	font-size: 12px;
}

.footer-column li {
	margin: 5px 0;
}

#footer-bottom {
	text-align: center;
}

/* ---------- Product List Page ---------- */

.product-container {
	margin: 20px 10px;
	height: 110px;
	border-bottom: 1px solid #CDCDCD;
}

.product-container .product-name, .product-container a:visited {
	font-size: 17px;
	text-decoration: none;
	color: #0066c0;
}

.product-container span {
	line-height: 1.25;
}

.product-container img {
	vertical-align: text-top;
	margin-right: 17px;
	float: left;
}

.product-container .release-date {
	margin-left: 20px;
	font-size: 12px;
}

.product-container .author-names {
	font-size: 12px;
}

.product-container .book-type {
	font-size: 12px;
}

.product-container .product-price {
	color: #b12704;
	font-size: 14px;
	font-weight: 700;
}