* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #EDECEC;
	font-family: Arial;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

#wrapper {
	width: 1200px;
	margin: 0 auto;
}

/* ---------- General ---------- */

.price {
	color: #b12704;
	font-weight: bold;
}

.inline-block {
	display: inline-block;
}

/* ---------- Home Page ---------- */
.featured-products-full {
	margin: 0 auto;
	overflow: hidden;
	width: 92%;
}

.featured-products-visible {
	position: relative;
	height: 270px;
	margin: 0 auto;
	white-space: nowrap;
}

.featured-products-full h2 {
	font-size: 18px;
	font-weight: normal;
	text-align: center;
}

.featured-products-visible img {
	position: relative;
	right: 0;
	display: inline-block;
	margin: 0 20px;
	max-width: 170px;
}

.featured-items-arrow {
	position: relative;
	height: 30px;
	opacity: 0;
	z-index: -1;
	bottom: 170px;
}

#featured-arrow-right {
	float: right;
}

/* ---------- Account header ---------- */

#account-header {
	background-color: white;
	padding: 6px 0;
	box-shadow: 0px 5px 2px #CFCFCF;
	font-size: 12px;
}

#account-header div {
	width: 1200px;
	margin: 0 auto;
}

#account-header a {
	text-decoration: none;
}

#account-header a:hover {
	text-decoration: underline;
}

#account-header a:visited {
	color: blue;
}

#account-header .logout {
	float: right;
}

.admin-link {
	margin-left: 20px;
}

/* ---------- Search Header ---------- */

#main-header {
	border-bottom: 1px solid #CDCDCD;
	height: 75px;
	margin-bottom: 15px;
}


/* - Left Section - */
.header-left {
	display: inline-block;
	width: 24%;
}

.header-left .logo {
	display: inline-block;
	position: relative;
	top: 10px;
}

.departments-dropdown {
    margin-bottom: 10px;
    margin-left: 10px;
    width: 30px;
    display: inline-block;
	position: relative;
	bottom: 19px;
}

.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 10px;
	font-size: 13px;
	border: none;
	cursor: pointer;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
}

.dropdown-content ul {
	list-style: none;	
}

.dropdown-content ul li {
	padding: 5px 0;
}

.dropdown-content ul li a {
	text-decoration: none;
}

.dropdown-content ul li a:visited{
	color: inherit;
}

.dropdown-content ul li:hover{
	color: orange;
	font-weight: 600;
}

.departments-dropdown:hover .dropdown-content {
	display: block;
}

.departments-dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

/* - Middle section - */
.header-middle {
	width: 51%;
	display: inline-block;
}

.search-form {
	position: relative;
	bottom: 21px;
	height: 40px;
	width: 100%;	
}

.search-form select {
	display: inline-block;
	float: left;
	height: 100%;
}

.search-form form {
	height: 100%;
}

.search-form input {
	display: inline-block;
	height: 100%;
}

.search-bar {
	width: 80%;
	float: left;
}

.search-submit {
	width: 8%;
	
}

/* - Header right - */
.header-right {
	width: 24%;
	display: inline-block;
}

.header-right a {
	border-radius: 5px;
	text-decoration: none;
	color: black;
	float: right;
	margin: 10px 20px;
	background-color: #ADD8E6;
	padding: 6px 11px;
}

.header-right a:hover {
	background-color: #85C0CE;
}

/* ---------- Account Creation/Login ---------- */
#login-register-page {
	text-align: center;
	margin: 20px 0;
}

#box {
	background-color: white;
	border-radius: 5px;
	margin: 20px auto;
	border: 1px solid #CDCDCD;
	padding: 5px;
	width: 400px;
}

#login-register-page h2 {
	margin-bottom: 5px;
	font-weight: normal;
}

.input-page input[type=text], .input-page input[type=password], .input-page input[type='date'], .input-page select {
	border: 1px solid #ADADAD;
	border-radius: 5px;
	height: 35px;
	margin: 0 0 20px 0;
	padding: 0 0 0 5px;
	width: 100%;
}

.field-with-errors {
	border: 1px solid red !important;
}

#login-register-page .first-name-input {
	float: left;
	width: 49%;
}

#login-register-page .last-name-input {
	width: 49%;
	float: right;
}

.input-page input[type=submit] {
	font-weight: bold;
	padding: 10px 15px; 
    background: -webkit-gradient(linear,left top,left bottom,from(#1079bc),to(#00509d));
    color: white;
    border:0 none;
    cursor:pointer;
    border-radius: 5px; 
    margin: 20px 0 5px 0;
}

.field-error-message {
	color: red;
	list-style: none;
	text-align: left;
	font-size: 11px;
	margin: -5px 0 5px 5px;
}

.register-link {
	margin: 20px 0;
}

/* ---------- Footer ---------- */
#footer {
	background-color: white;
	border-top: 1px solid gray;
	box-shadow: 0px 500px 0px 500px white;
	margin-top: 20px;
	padding-top: 20px;
}

#footer-container {
	width: 1200px;
	margin: 0 auto;
}

.footer-column {
	display: inline-block;
	margin: 0 60px;
}

.footer-column h3 {
	font-size: 18px;
	font-weight: normal;
	margin: 0 0 6px 0;
}

.footer-column ul {
	list-style: none;
	font-size: 12px;
}

.footer-column li {
	margin: 5px 0;
}

#footer-bottom {
	text-align: center;
}

/* ---------- Product List Page ---------- */

.product-container {
	margin: 20px 10px;
	border-bottom: 1px solid #CDCDCD;
}

.product-container .product-image {
	display: inline-block;
	margin-bottom: 10px;
	vertical-align: top;
	width: 155px;
}

.product-container .product-image img {
	display: block;
}

.product-container .product-versions {
	display: inline-block;
}

.product-container .product-platform {
	margin-bottom: 5px;
}

.product-container .product-name {
	font-size: 17px;
	text-decoration: none;
	padding-bottom: 10px;
}

.product-container span {
	line-height: 1.25;
}

.product-container img {
	vertical-align: text-top;
	margin-right: 17px;
	float: left;
	clear: both;
	display: inline-block;
}

.product-container .release-date {
	margin-left: 20px;
	font-size: 12px;
}

.product-container .author-names {
	font-size: 12px;
}

.product-container .book-type {
	font-size: 12px;
}

.product-price {
	color: #b12704;
}

.product-container .product-price {
	font-size: 14px;
	font-weight: 700;
}

.product-container .platform-name {
	font-size: 12px;
	text-decoration: none;
}

.product-container a:visited {
	color: #0066c0;
}

.product-container a:hover {
	color: orange;
}

/* ---------- Product Show Page ---------- */

.product-section-1 {
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #CDCDCD;
	margin-bottom: 10px;
}

.product-section-1 .product-image {
	display: inline-block;
	float: left;
}

.product-version-link:visited{
	color: inherit;
}

.product-version-box {
	border: 1px solid #CDCDCD;
	border-radius: 2px;
	color: black;
	display: inline-block;
	padding: 7px;
	margin-right: 500px;
}

.product-version-box .product-version-platform {
	margin-bottom: 3px;
}

#current-product-version {
	background-color: #ffe5e5;
	border: 1px solid #ffa500;
}

#current-product-version .product-version-price {
	color: #b12704;
	font-weight: bold;
}

.product-section-1 .product-description {
	display: inline-block;
	font-size: 13px;
	width: 700px;
}

.product-section-1 .product-description div {
	margin: 10px 20px;
}

.product-section-1 .product-name {
	font-weight: bold;
	font-size: 18px;
}

.product-section-1 .product-creator {
	font-size: 12px;
}

.product-section-1 .price-label {
	font-size: 12px;
	position: relative;
	bottom: 2px;
}

.product-section-1 .product-price {
	font-size: 18px;
	margin-left: 4px;
}

#product-description-text {
	font-size: 14px;
	overflow: hidden;
	margin: 0 !important;
}

.product-description-expander {
	font-size: 13px;
	color: #0066c0;
}

.product-description-expander:hover {
	color: #c45500;
	cursor: pointer;
	text-decoration: underline;
}

#product-description-less {
	display: none;
}

#product-description-more {
	display: none;
}

.product-section-1 .add-to-cart-box {
	border: 2px solid #CDCDCD;
	border-radius: 5px;
	display: inline-block;
	float: right;
	height: 200px;
	margin-top: 30px;
	padding: 20px;
	text-align: center;
	vertical-align: text-top;
	width: 250px;
}

.product-section-1 input[type='submit'], .add-to-wish-list-btn, .add-to-basket-btn {
	border: none;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	height: 40px;
	margin-bottom: 10px;
	width: 100%;
	-webkit-appearance: none;
    -moz-appearance: none;
}

.add-to-wish-list-btn {
	padding-left: 10px;
}

.product-section-1 input[type='text'] {
	border: none;
	border-radius: 10px;
	color: white;
	height: 38px;
	position: relative;
	bottom: 66px;
	text-align: center;
	width: 99%;
	background-color: #CC3333;
	z-index: -1;
}

#add-to-wish-list-form select::-ms-expand {
    display: none;
}

#add-to-wish-list-form input[type='select'] {
	
}

.product-section-1 input[type='text']:focus {
	outline-width: 0;
}

.product-details {
	font-size: 13px;
	line-height: 19px;
}

.add-to-basket-btn {
	background-color: #DD8000;
	margin-top: 20px;
}

.add-to-basket-btn:hover {
	background-color: #D07C00;
}

.add-to-wish-list-btn {
	background-color: #CC3333;
}

.add-to-wish-list-btn:hover {
	background-color: #BF2F2F;
}

#add-to-wish-list-btn-text {
	color: white;
	cursor: pointer;
	bottom: 37px;
	font-size: 15px;
	position: relative;
	pointer-events: none;
}

/* ---------- Basket/Cart Page ---------- */
.cart-main {
	display: inline-block;
	width: 75%;
}

.cart-top div {
	display: inline-block;
	position: relative;
	top: 30px;
}

.cart-quantity-label {
	float: right;
}

.cart-title {
	font-weight: bold;
	font-size: 20px;
	width: 70%;
}

.cart-price-label, .cart-quantity-label {
	color: #555;
	font-size: 13px;
}

.cart-price {
	width: 10%;
}

.cart-item {
	border-top: 1px solid #CDCDCD;
	padding: 5px 0;
}

.cart-item div {
	display: inline-block;
	vertical-align: text-top;
	margin: 5px 20px;
}

.cart-product-details span {
	line-height: 2;
}

.cart-item .cart-product-details {
	width: 50%;
}

.cart-item .cart-product-price {
	width: 12%;
}

.cart-item .cart-product-quantity {
	float: right;
}

/* - Product details - */
.cart-product-details .product-name {
	color: #0066c0;
	font-weight: bold;
}

.cart-product-details a {
	text-decoration: none;
}

.cart-product-details a:visited {
	color: inherit;
}

.cart-product-details a:hover {
	color: #F07000;
	text-decoration: underline;
}

.cart-product-details .product-creator {
	font-size: 13px;
}

.cart-product-details .product-type {
	font-size: 12px;
}

.cart-product-details .cart-remove {
	font-size: 12px;
}

.cart-delete-btn {
	background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	color: #0066C0;
}

.cart-delete-btn:hover {
	text-decoration: underline;
}

/* - Cart bottom - */
.cart-bottom {
	border-top: 1px solid #CDCDCD;
	padding: 30px;
}

.subtotal {
	font-weight: bold;
}

.cart-bottom .subtotal {
	float: right;
	margin-right: 30px;
}

/* - Cart Purchase box - */
.cart-checkout-box {
	padding: 10px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	margin: 30px 0 0 30px;
	height: 100px;
	width: 250px;
	border: 1px solid #CDCDCD;
	border-radius: 5px;
	background-color: white;
}

.checkout-link {
	background-color: #FFA500;
	border-radius: 5px;
	padding: 10px 20px;
	text-decoration: none;
	color: black;
	position: relative;
	top: 20px;
}

.checkout-link:hover {
	background-color: #F39800;
}

/* ---------- Checkout ---------- */
.box-page-logo {
	text-align: center;
	margin-top: 10px;
}

.box-page {
	margin: 15px 0 20px 0;
	padding: 15px 10px;
	border: 1px solid #ADADAD;
	border-radius: 5px;
	background-color: white;
	height: 100%;
}

.checkout-half {
	display: inline-block;
	width: 50%;
	margin: 10px 0;
	padding: 0 10px;
	vertical-align: top;
}

.checkout-left {
	border-right: 1px solid #ADADAD;
}

.checkout-right {
	border-left: 1px solid #ADADAD;
	
}

.box-page h2 {
	text-align: center;
	font-size: 16px;
	margin-bottom: 10px;
}

.div-select {
	background-color: #DEDEDE;
	border: 1px solid black;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px auto;
	padding: 7px;
	width: 400px;
}

.div-select:hover {
	background-color: #EFEFEF;
}

.div-select input[type=submit] {
	margin: 5px;
}

.half-size {
	width: 65%;
	margin: 0 auto;
}

.choose-delivery-method {
	text-align: center;
	color: #54ABED;
}

.choose-delivery-method h2 {
	color: black;
}

.choose-delivery-method div {
	display: inline-block;
	margin: 0 17px;
}

.choose-delivery-method div:hover span, .choose-delivery-method img {
	color: #F07000;
	cursor: pointer;
	text-decoration: underline;
}

.delivery-due {
	color: green;
	font-size: 10px;
	cursor: pointer;
}

/* - Payment Methods - */
.card-details-entry {
	width: 300px;
	margin: 0 auto;
}

.checkout-listing {
	font-size: 14px;
}

.listing-label {
	font-weight: bold;
	display: inline-block;

}

.billing-address-listing {
	display: inline-block;
	text-align: vertical;
	vertical-align: text-top;	
}

.card-exp select {
	width: 60px;
}

.card-type select {
	width: 160px;
	margin-right: 10px;
}

.small-field-label {
	font-size: 12px;
}

#card-creation-existing-address {
	background-color: blue;
	width: 100px;
	height: 50px;
	cursor: pointer;
}

.div-btn {
	border: 1px solid gray;
	border-radius: 5px;
	cursor: pointer;
	padding: 5px;
	margin: 10px 5%;
	width: 40%;
	height: 30px;
	display: inline-block;
	text-align: center;
}

#card-creation-new-address-form {
	display: none;
}

#card-creation-existing-address-form {
	display: none;
}

/* - Checkout Confirm - */
.checkout-confirm {
	font-size: 13px;
	margin: 15px;
}

.payment-and-address, .checkout-confirm-top .purchase-box {
	display: inline-block;
	margin: 5px;
}

.payment-and-address {
	float: left;
	margin-bottom: 20px;
}

.payment-and-address div {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}

.checkout-confirm-top {
	margin: 5px 0 20px 0;
}

.checkout-final-total {
	color: #b12704;
	font-size: 17px;
	font-weight: bold;
}

.buy-now-btn {
	background-color: #F0C14B;
	border: 1px solid #E0B13B;
	border-radius: 5px;
	padding: 9px;
	width: 100%;
}

/* - Checkout Confirm - Purchase Boxes - */
.purchase-box-area {
	float: right;
	height: 100%;
	display: inline-block;
}

.purchase-box {
	border: 1px solid #D5D5D5;
	border-radius: 5px;
	float: right;
	padding: 10px;
	margin-left: 10px;
	width: 100%;
	clear: both;
}

.purchase-box h4 {
	margin-top: 15px;
}

.purchase-box hr {
	margin: 8px 0;
}

.purchase-box-1{
	
}

.purchase-box-2 {
	position: relative;
	bottom: 60px;
	width: 210px;
}

/* - Checkout Confirm Cart - */
.checkout-confirm-cart {
	display: inline-block;
}

.checkout-cart-item {
	line-height: 1.5;
	margin: 10px;
}

.checkout-cart-item div {
	display: inline-block;
	vertical-align: top;
}

.delivery-time {
	color: #090;
	font-size: 15px;
}

/* ---------- Account ---------- */
.account-page {
	text-align: center;
}

.account-page h1 {
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 10px;
}

.account-page a {
	color: #54ABED;
	text-decoration: none;
}

.account-page a:hover {
	text-decoration: underline;
	color: #F07000;
}

.account-page li {
	display: inline-block;
	width: 24%;
}

.account-page div {
	width: 100%;
}

.account-page img {
	margin-bottom: 10px;
}

/* ---------- Purchase History ---------- */
.purchase-history-page {
	width: 75%;
	margin: 0 auto;
}

.purchase-history-box {
	border: 2px solid #CDCDCD;
	border-radius: 4px;
	margin-bottom: 20px;
}

.purchase-top {
	background-color: #DFDFDF;
	border-bottom: 1px solid #DFDFDF;
}

.purchase-top .purchase-label {
	font-size: 11px;
	text-transform: uppercase;
}

.purchase-top .purchase-value {
	font-size: 13px;
}

.purchase-product-details {
	font-size: 12px;
	line-height: 1.8;
	margin: 10px 0;
}

.purchase-product-details a {
	color: #0066c0;
	font-size: 13px;
	text-decoration: none;
}

.purchase-product-details div, .purchase-top div {
	display: inline-block;
	vertical-align: text-top;
	margin: 0px 30px;
}

/* ---------- Product Creation ---------- */

#product-create-page {
	margin: 0 auto;
	width: 50%;
}

.pc-general {
	text-align: center;
	margin: 0 auto;
}

.pc-general div {
	width: 20%;
	margin: 10px 0;
}

#product-create-page .product-input-small {
	margin-left: 0px;
	margin-right: 0px;
	width: 48%;
}

.product-type-forms {
	display: none;
}

.type-creation-form {
	display: none;
}

#product-submit-btn {
	display: none;
}

/* ---------- Wish Lists ---------- */

.list-of-wish-lists-area {
	display: inline-block;
	width: 200px;
	vertical-align: top;
}

.list-of-wish-lists-area h3 {
	border-bottom: 1px solid #BABABA;
}

.list-of-wish-lists-area a {
	color: black;
	text-decoration: none;
}

.wish-list-name-box {
	height: 40px;
	line-height: 40px;
	padding-left: 5px;
}

#current-wish-list {
	background-color: #AEEEEE;
	border-radius: 5px;
	font-weight: bold;
}

.current-wish-list-area {
	display: inline-block;
	width: 80%;
	margin-left: 20px;
}

.wish-list-header h3 {
	display: inline;
}

.wish-list-header a {
	color: black;
	float: right;
	text-decoration: none;
}

.wish-list-header a:hover {
	color: #FF8000;
	text-decoration: underline;
}

.wish-list-product div {
	display: inline-block;
}

.wish-list-product {
	margin-top: 10px;
	line-height: 1.3;
}

.wish-list-product .product-details-area {
	vertical-align: top;
	margin-left: 10px;
}

.wish-list-product .product-title {
	color: #0066c0;
	text-decoration: none;
}

.wish-list-product .product-title:hover {
	color: #F07000;
	text-decoration: underline;
}

.wish-list-product .product-creators {
	font-size: 14px;
}

.wish-list-product .price {
	font-size: 14px;
}

#add-to-basket-from-wish-list {
	border-radius: 7px;
	height: 25px;
	width: 200px;
}

#remove-from-wish-list-btn {
	background-color: #CC3333;
	border-radius: 7px;
	height: 25px;
	margin-top: 0px;
	width: 200px;
}

#remove-from-wish-list-btn:hover {
	background-color: #BF2F2F;
}

#empty-wish-list {
	color: #6d6d6d;
	font-size: 25px;
	margin-top: 60px;
	text-align: center;
}

.wish-list-product-image {
	text-align: center;
	width: 135px;
}